.links-para {
    margin-bottom: 20px;
}

.about-us-button {
    margin: 15px 0px;
}

.center-align{
    text-align: center;
}

.step2-heading
{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.big-text-area{
    height: 260px !important;
    width: 435px !important;
}

.margLeft20{
    margin-left: 30px;
}

.checkBoxMarg{
    margin-left: 30px;
    margin-right: 40px;
}

.room_headings{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}